:root {
  --fontColor: #5A0808;
}

:root {
  --baseColor: #ffe169; 
}

@font-face {
  font-family: "HeroFont";
  src: url("/fonts/font2.woff2") format("woff2");
  /* font-weight: 900; */
  /* font-style: normal; */
}

*{
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  background-color: var(--baseColor);

}

h1 {
  font-size: 30px;
}
