.homeContainer {
    width: 100%;
    min-height: calc(100vh - 80px);
    color: var(--fontColor);
    background-color: var(--baseColor);
    display: flex;
}

.homeTextManager {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.homeTextManager h1 {
    text-wrap: nowrap;
    font-family: "HeroFont";
    line-height: 5rem;
}

.homeTextManager p {
    margin-top: 20px;
    letter-spacing: 0.2rem;
}

.homeTextManager img {
    width: 400px;
    max-width: 500px;
    height: auto;
    margin-top: 50px;
    object-fit: cover;
    background-color: transparent;
    filter: drop-shadow(0px 0px 2px rgba(118, 82, 14, 0.600));
}

.homeBowlContainer {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes bowlRotater {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}

.homeBowlHolder {
    width: 480px;
    height: 480px;
    animation: bowlRotater infinite 50s linear;
    background-color: transparent;
    filter: drop-shadow(0px 0px 20px rgba(118, 82, 14)); 
    animation-play-state: running;
    transition: 1s ease-in-out;
    overflow: hidden;
    position: relative;
}

.homeBowlHolder img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.homeBowlHolder:hover {
    animation-play-state: paused;
}

.displayRecipeFilter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    background-color: var(--baseColor);
    overflow: scroll;
}

.homeBlogDisplay {
    width: 100%;
    color: var(--fontColor);
    background-color: var(--baseColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeBlogHeading {
    font-family: "HeroFont";
    text-transform: uppercase;
}

.homeBlogCardDisplay {
    /* width: 80%; */
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 40px;
}


.homeRecipeDisplay {
    width: 100%;
    color: var(--fontColor);
    background-color: var(--baseColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeRecipeHeading {
    font-family: "HeroFont";
    text-transform: uppercase;
}

.homeRecipeCardDisplay {
    /* width: 80%; */
    display: grid;
    margin: 50px 0;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 50px;
}

.homeImageGrid {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--baseColor);
    /* padding-top: 20px; */
    margin-bottom: 9rem;
}

.homeImageGridHeading {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--fontColor);
    color: var(--fontColor);
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.socialIcon {
    display: flex;
}

.socialIcon p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 20px 0 0;
}

.homeImageGridContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.7rem;
}

.homeImageGridContainer img {
    width: 100%;
    object-fit: cover;
}

.home1 {
    height: 360px;
    grid-column: 1 / 4;
}

.home2 {
    height: 290px;
    grid-column: 4 / 7;
}
.home3 {
    height: 410px;
    grid-column: 7 / 10;
}
.home4 {
    height: 260px;
    grid-column: 10 / 13;
}

@media (max-width: 1440px) {
    
    .homeBowlHolder {
        width: 480px;
        height: 480px;
    }

    .homeRecipeCardDisplay {
        grid-template-columns: repeat(3, 1fr);
    }

    .homeContainer {
        flex-direction: column;
    }

    .homeContainer {
        min-height: 100px;
    }

    .homeTextManager {
        width: 100%;
        margin-top: 70px;
    }

    .homeBowlContainer {
        padding: 40px;
        margin-bottom: 50px;
    }

    .homeTextManager img {
        width: 300px;
    }

    .homeImageGridContainer {
        gap: 0.6rem;
    }

    .home1 {
        height: 250px;
        grid-column: 1 / 4;
    }
    
    .home2 {
        height: 200px;
        grid-column: 4 / 7;
    }
    .home3 {
        height: 300px;
        grid-column: 7 / 10;
    }
    .home4 {
        height: 180px;
        grid-column: 10 / 13;
    }

    .homeImageGrid {
        margin-bottom: 4rem;
    }
    
}


@media (max-width: 940px) {
    
    .homeBowlHolder {
        width: 280px;
        height: 280px;
    }

    .homeBlogCardDisplay {
        grid-template-columns: repeat(2, 1fr);
    }

    .homeRecipeCardDisplay {
        grid-template-columns: repeat(2, 1fr);
    }

    .homeTextManager h1 {
        line-height: 4rem;
    }

    .homeTextManager p {
        letter-spacing: 0.1rem;
    }

}

@media (max-width: 600px) {

    .homeBowlHolder {
        width: 280px;
        height: 280px;
    }

    .homeBlogCardDisplay {
        grid-template-columns: repeat(1, 1fr);
    }

    .homeRecipeCardDisplay {
        grid-template-columns: repeat(1, 1fr);
    }

    .homeTextManager img {
        width: 200px;
    }

    .homeTextManager h1 {
        line-height: 2rem;
    }

    .displayRecipeFilter {
        justify-content: left; 
    }

    .homeImageGridContainer {
        gap: 0.6rem;
    }

    .home1 {
        height: 150px;
        grid-column: 1 / 4;
    }
    
    .home2 {
        height: 120px;
        grid-column: 4 / 7;
    }
    .home3 {
        height: 180px;
        grid-column: 7 / 10;
    }
    .home4 {
        height: 90px;
        grid-column: 10 / 13;
    }

}