@keyframes bouncy {
    0% {
        font-weight: 900;
    }
    50% {
        font-weight: 100;
    }
    100% {
        font-weight: 900;
    }
}

.aboutParagraphContainer{
    width: 100%;
    color: var(--fontColor);
    background-color: var(--baseColor);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2em 0;
}

.aboutParagraphContent {
    width: 65%;
}

.aboutParagraphContentP {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: var(--fs-small);
    font-family: "HeroFont";
    font-weight: 300;
}

.aboutParagraphContent h1 {
    line-height: var(--fs-head);
    animation: bouncy 15s infinite linear;
    font-family: "HeroFont";
    text-wrap: nowrap;
}

.aboutParagraphContainer span {
    font-family: "HeroFont";
    color: red;
}

.aboutParagraphContentP2 {
    margin-top: 2rem;
}

.aboutParagraphContentP2 a {
    text-decoration: none;
}

.aboutParagraphContentP2 span {
    font-family: "HeroFont";
    font-size: var(--fs-subhead);
    font-weight: 900;
    color: var(--fontColor);
}

@media (max-width: 1440px) {

    .aboutParagraphContent {
        width: 65%;
    }
    
}


@media (max-width: 940px) {

    .aboutParagraphContent {
        width: 85%;
    }

}

@media (max-width: 600px) {

    .aboutParagraphContent {
        width: 85%;
    }

    .aboutParagraphContentP {
        font-size: 0.6rem;
    }

}